@media only screen and (min-width: 1366) {
  .nav-log {
    margin-left: -10%;
    margin-top: 10px;
    width: 50%;
    height: 50%;
  }

  .nav-item-menu {
    position: absolute;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: var(--text-color);
    width: 100%;
    height: 35%;
    border-radius: 5px;
    margin: 0px auto;
    transition: 0.3s;
    box-shadow: 10 17px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-item-menu.open {
    display: flex;
    left: 0;
    border-bottom: none;
    margin: 0px auto;
    margin-top: 20px;
  }

  .nav-item-menu li {
    margin-top: 20px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-top: 10px;
  }

  
  /* for project page responsive style*/
  .proj-container {
    margin-bottom: 100%;
  }

}

@media screen and (max-width: 768px) {
  /* for the navbar responsive */

  .nav-log {
    margin-left: -10%;
    margin-top: 10px;
    width: 50%;
    height: 50%;
  }

  .container-switch {
    margin-top: -60px;
    margin-right: -20px;
  }

  .nav-item-menu {
    position: absolute;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: var(--text-color);
    width: 100%;
    height: 50%;
    border-radius: 5px;
    margin: 0px auto;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-item-menu.open {
    display: flex;
    left: 0;
    border-bottom: none;
    text-align: center;
    margin: 0px auto;
    margin-top: 20px;
  }

  .nav-item-menu li {
    margin-top: 20px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-top: 10px;
  }

  /* for project page responsive style*/
  .proj-container {
    margin-bottom: 80%;
  }

  .project-desc h1 {
    font-size: 18px;
  }

  .project-desc p {
    font-size: 12px;
    width: 100%;
    margin: 0px auto;
  }

  .project-layout {
    display: block;
  }

  .project-dec p {
    font-size: 12px;
  }

  .sec-project-card {
    height: 200%;
  }

  .project-image {
    margin-top: 10px;
  }

  .project-image img {
    width: 40%;
    height: 20%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 980px) {
  .nav-item-menu {
    position: absolute;
    left: -100%;
    top: 7rem;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    max-width:500px;
    max-height:300px;
    border-radius: 5px;
    margin: 0px auto;
    transition: 0.3s;
    box-shadow: 10 17px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-item-menu.open {
    display: flex;
    left: 0;
    border-bottom: none;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-top: 10px;
  }

  /* for about me page responsive style */

  /* for project page responsive style*/

  .proj-container {
    margin-bottom: 80%;
  }

  .project-desc {
    width: 100%;
    height: 100%;
  }

  .project-card {
    height: 200%;
  }

  .sec-project-card {
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }

  .project-slides {
    width: 100%;
  }

  .project-dec p {
    margin-right: 40px;
  }

 .view-code{
  margin: 0px auto;
 }
}
