@import url("/src/css/var.css");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: var(--primary-color);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 1;
    transform: translateY(20);
  }
  100% {
    opacity: 2;
    transform: translateY(1.1);
  }
}

@keyframes msgIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
    transform: translateX(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(2);
  }
  100% {
    opacity: 2;
    transform: translateY(1.1);
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  50% {
    opacity: 1;
    transform: translateX(1.2);
  }
  100% {
    opacity: 2;
    transform: translateX(1.1);
  }
}

@keyframes biocard {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    opacity: 1;
    transform: translateX(4);
  }
  100% {
    opacity: 2;
    transform: translateX(3);
  }
}

@keyframes navin {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 1;
    transform: translateY(20);
  }
  100% {
    opacity: 2;
    transform: translateY(1.1);
  }
}

.sec-container {
  background-color: var(--primary-color);
  transition: width 2s, height 2s, transform 2s;
}

.child-container {
  width: 0;
  height: 0;
  background-color: var(--primary-color);
}

/* for loading page style */

.loading-container {
  position: fixed;
  inset: 0;
  background-color: #1d1d1f;
  opacity: 0.9;
  z-index: 100;
  animation: navin 0.9s ease-out;
}

.loading-icon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  color: var(--third-color);
}

.loading-grid {
  width: 40%;
  margin: 0px auto;
  margin-left: 30%;
}

.loading-prog {
  margin: 0px auto;
  margin-top: -100px;
}

/* for the nav bar menu */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: transparent;
  font-family: "Arial Narrow", Arial, sans-serif;
  width: 100%;
  top: 0;
}

.nav-log {
  padding-right: 30%;
  margin-top: 10px;
}

/* .nav-log h2 {
  font-size: 16px;
  color: var(--text-second-color);
} */

.nav-log img {
  margin-top: 30px;
  margin-left: 60px;
}

.nav-item-menu {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-top: 20px;
}

.nav-item-menu li {
  list-style: none;
}

.nav-item-menu .nav-item {
  text-decoration: none;
  color: var(--text-second-color);
  transition: var(--third-color) 0.3s ease-in-out;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 13px;
  border-bottom: 1px solid var(--text-second-color);
  padding: 10px;
}

.nav-item-menu .nav-item:hover {
  color: var(--third-color);
  border-radius: 5px;
  padding: auto;
  background: #5e5d5d;
  border-bottom: 1px solid #5e5d5d;
}

.nav-item-menu .active {
  border-bottom: 1px solid var(--active-color);
  color: var(--active-color);
  border-radius: 5px;
  padding: auto;
  background: var(--active-background-color);
}

.hamburger {
  display: none;
  background-color: var(--text-second-color);
  border-radius: 5px;
}

.bar {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--primary-color);
}

.container-switch {
  margin-top: 20px 0 0 0;
  position: sticky;
  float: right;
}

/* for about me style */
:where(.css-dev-only-do-not-override-p8b6i).ant-card .ant-card-body {
  border: none;
}

.about-me-container {
  width: 100%;
  height: 100%;
  margin-top: 25px;
}

.pic-card {
  background-color: var(--secondary-color);
  border: none;
  width: 110%;
  height: 100%;
  animation: biocard 1.5s ease-in;
}

.pic-item-card {
  background-color: var(--third-color);
  border: none;
  margin-left: 64%;
  width: 60%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.19),
    10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  animation: biocard 2s ease-in;
}

.pic-photo {
  margin: 0px auto;
}

.personal-name h5 {
  color: #000;
  text-align: center;
}
.personal-name h3 {
  margin-top: -10px;
  color: #000;
  text-align: center;
}

.personal-name p {
  margin-top: 20px;
}

.divider-fir {
  border: 2px solid #000;
  width: 100%;
  margin-right: 100%;
  margin-top: 20px;
}

.divider-sec {
  border: 1px solid #000;
  width: 20%;
  margin: 0px auto;
}

.sm-link {
  background-color: var(--sm-background-color);
  width: 121%;
  height: 150%;
  display: flex;
  justify-content: space-around;
  padding: 15px 10px 5px 10px;
  margin-right: 30px;
  margin-left: -24px;
}

.sm-item {
  height: 12px;
  margin: 0px auto;
}

.sm-item a {
  text-decoration: none;
  color: var(--text-second-color);
}

.sm-item a:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.bio-card {
  background-color: transparent;
  border: none;
  margin-left: 20%;
}

.bio-detail {
  font-weight: bold;
  display: block;
  color: var(--text-second-color);
}

.bio-detail h1 {
  font-size: 8vh;
  margin-bottom: 0;
  margin-top: -5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--text-second-color);
  animation: title 1s ease-in;
}

.bio-detail p {
  margin-right: 40%;
  margin-top: -10px;
  font-size: 2.6vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-second-color);
  animation: title 1.5s ease-in;
}

.bio-description p {
  width: 80%;
  color: var(--text-second-color);
  animation: title 2s ease-in;
}

.bio-buttons {
  display: flex;
  width: 100px;
  margin: 20px;
  animation: title 2.5s ease-in;
}

.bio-btn {
  margin-right: 40px;
  border: 1px solid var(--third-color);
  padding: 8px;
  border-radius: 100px;
  width: 100%;
  font-size: 10px;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.19),
    10px 0px 10px 0 rgba(0, 0, 0, 0.088);
}

.bio-btn1 {
  background-color: var(--resume-btn-color);
  color: #000;
}

.bio-btn2 {
  background-color: var(--project-btn-color);
  color: #000;
}

.bio-btn a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: -5px;
  padding-bottom: -5px;
  color: #000;
}

.bio-btn a:hover {
  background: var(--primary-color);
  color: var(--text-second-color);
}
.bio-btn:hover {
  background: var(--primary-color);
  color: var(--text-second-color);
  border: 1px solid var(--secondary-color);
}

.bio-description p {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}

.aboutme-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  animation: slideIn 1.5s ease-in;
}

.created-by {
  margin-left: 70px;
  margin-top: -10px;
}

.created-by p {
  font-family: "Times New Roman", Times, serif;
  color: var(--text-second-color);
}

.address {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding-left: 20px;
  margin-top: -50px;
  margin-right: 15px;
}

.address-item {
  margin-left: 20px;
}

.address-item h4,
.address-item p {
  color: var(--text-second-color);
  text-align: center;
}

.address-item p {
  margin-top: -10px;
}

.footer-sm-link {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.footer-sm-item {
  margin-left: 20px;
  height: 25px;
}

.footer-sm-item a {
  color: var(--text-second-color);
}

.footer-sm-item a:hover {
  color: var(--third-color);
  border-bottom: 1px solid var(--third-color);
}

/* for blog style part is here */

.blog-main-container {
  margin-top: 20px;
}

.blog-hero {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: var(--third-color);
  width: 80%;
  margin: 0px auto;
  padding-bottom: 20px;
  border-radius: 50px;
}

.blog-quote {
  margin: 0px auto;
  margin-top: 40px;
}

.blog-quote h1,
.blog-quote p {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
}

.blog-quote p {
  width: 80%;
  text-align: center;
  margin: 0px auto;
}

.blog-quote a {
  background-color: #000;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.anc-more-btn {
  margin-top: 40px;
  margin-left: 45%;
}

.blog-content {
  margin: 50px;
  border: none;
  margin-top: -20px;
}

.blog-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Creates 12 equal columns */
  gap: 10px; /* Gap between columns */
  margin-top: 20px;
}

.blog-grid-category {
  grid-column: span 4;
}

.blog-grid-item {
  grid-column: span 8;
}

.blog-category {
  margin-top: 20px;
  background-color: var(--main-third-background-color);
  color: var(--text-second-color);
  border: none;
}

.blog-item-fis {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--main-third-background-color);
  color: var(--text-second-color);
  margin-top: 20px;
  border-radius: 10px;
}

.blog-item-img a {
  list-style: none;
  text-decoration: none;
}

.blog-item-msg {
  margin-left: 20px;
}

.blog-item-msg h3 a {
  font-family: var(--font-family-titles);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-titles);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
}

.blog-item-msg h3 a {
  text-decoration: none;
  list-style: none;
  color: var(--text-second-color);
}

.blog-item-msg h3 a:hover {
  color: var(--color-hover-title);
  border-bottom: 1px solid var(--color-hover-title);
}

.blog-item-msg p {
  text-align: justify;
  width: 80%;
}

.blog-au-info {
  display: flex;
}

.blog-au-info p {
  color: var(--color-gray);
  font-size: small;
  font-family: var(--font-family-main);
}

.arc-more-btn:hover {
  background: var(--color-gray);
  border-radius: 5px;
}

.category-list {
  display: flex;
  align-self: center;
  background-color: var(--main-third-background-color);
  color: var(--text-second-color);
  border: none;
}

.category-item {
  margin-left: 20px;
  margin-top: -20px;
}

.category-image img {
  border-radius: 5px;
}

.category-item h4 a {
  color: var(--text-second-color);
}

.category-item p {
  color: var(--text-second-color);
  text-align: justify;
}

.category-item h4:hover {
  color: var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
}

:where(.css-dev-only-do-not-override-p8b6i).ant-pagination {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--pagination-background-color);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
}

.before-footer {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  border: none;
}

.bef-footer-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  margin: 20px;
}

.footer-quote {
  width: 40%;
  margin-left: 50px;
}

.footer-quote h4 {
  color: var(--third-color);
}

.footer-quote p {
  text-align: justify;
}

.shot-link {
  margin-left: -10%;
}

.shot-link h4 {
  margin-left: 30px;
  color: var(--color-gray);
}

.shot-link li a {
  text-decoration: none;
  list-style: none;
  margin: 10px;
  color: var(--text-second-color);
}

.shot-link li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
}

.shot-link li:hover {
  border-radius: 5px;
}

.shot-link li a:hover {
  color: var(--color-gray);
}

.blog-sm h4 {
  text-align: center;
  color: var(--color-gray);
}

.blog-sm-link {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.blog-sm-link a {
  color: var(--text-second-color);
  text-decoration: none;
  list-style: none;
  margin-left: 20px;
}

.blog-sm-item a:hover {
  color: var(--third-color);
}

.detail-blog-container {
  margin: 40px;
  margin-top: -5%;
}

.detail-blog-content {
  color: var(--text-second-color);
  margin: 50px;
}

.detail-blog-content h1 {
  text-align: center;
}

.detail-blog-content img {
  margin-left: 30%;
}

.detail-blog-content p {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 10px;
  text-align: justify;
  font-size: var(--full-width-post-font-size);
  font-family: var(--font-family-main);
  line-height: var(--full-width-post-line-height);
}

.detail-blog-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-second-gray);
  width: 60%;
  margin: 0px auto;
  border-radius: 2px;
  color: var(--text-second-color);
}

.detail-sm-link {
  display: flex;
  justify-content: space-between;
}

.Pp-blog {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: -50px;
}

.Pp-blog p {
  color: var(--color-gray);
  margin-right: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.detail-sm-link a {
  color: var(--text-second-color);
  text-decoration: none;
  list-style: none;
  margin-left: 20px;
}

.main-category-detail-container {
  margin: 30px;
  margin-top: -4%;
}

.category-blog-content {
  text-align: center;
}

.category-blog-content h1 {
  color: var(--text-second-color);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-titles);
  font-size: var(--h1-font-size);
}

.category-blog-content p {
  color: var(--text-second-color);
  font-family: var(--font-family-titles);
  margin: 0px auto;
  width: 60%;
}

.category-blog-img {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.blog-item {
  color: var(--text-second-color);
  margin-left: 20px;
  margin-top: 20px;
  margin: 5px;
  float: left;
  width: 30%;
}

.hover-image {
  transition: transform 0.5s ease, filter 0.5s ease;
  border-radius: 10px;
}

.hover-image:hover {
  transform: scale(1.1) rotate(2deg); /* Slight zoom and rotation */
  filter: brightness(1.2) saturate(1.5); /* Brighter and more saturated colors */
}

.blog-item .blog-item-content .blog-category {
  background-color: var(--third-color);
  border-radius: 10px;
  color: #000;
  padding: 3px;
  padding-left: 10px;
  width: 60%;
  font-size: 12px;
  font-weight: 500;
}

.blog-item .blog-item-content h3:hover {
  color: var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
}

.blog-item .blog-item-content h6 {
  margin-top: -30px;
  letter-spacing: -0.02em;
  line-height: 200%;
  font-size: 14px;
  width: 100%;
  text-align: justify;
}

.blog-item .blog-info p {
  background-color: transparent;
}

.blog-item .blog-info {
  color: var(--color-gray);
  font-size: 12px;
  float: left;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-card .ant-card-head-title {
  display: inline-block;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--text-second-color);
}

:where(.css-dev-only-do-not-override-p8b6i).ant-list
  .ant-list-item
  .ant-list-item-meta
  .ant-list-item-meta-description {
  color: var(--text-second-color);
  font-size: 14px;
  line-height: 1.5714285714285714;
  margin-right: 20%;
  text-align: justify;
}

/* for project style part is here */
.proj-container {
  background: linear-gradient(180deg, #f2de1f 50%, var(--primary-color) 50%);
  width: 100%;
  height: 100%;
  border: none;
}

.project-desc {
  background-color: var(--primary-color);
  width: 60%;
  margin: 0px auto;
  border: none;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.19),
    10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  animation: msgIn 0.5s ease-out;
}

.project-desc h1 {
  text-align: center;
  color: var(--text-second-color);
  margin-top: -20px;
}

.project-desc p {
  text-align: justify;
  color: var(--text-second-color);
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  margin: 0px auto;
}

.project-card {
  background-color: var(--primary-color);
  color: var(--text-second-color);
  height: 400px;
  line-height: 160px;
  border: none;
  margin-bottom: 80px;
  animation: slideIn 0.5s ease-out;
}

.project-slides {
  width: 60%;
  margin: 0px auto;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.19),
    10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.project-image img {
  border-radius: 30px;
}

.project-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-project-card {
  background-color: var(--primary-color);
  color: var(--text-second-color);
  border: none;
  margin-top: -17px;
}

.project-dec {
  margin-left: -40%;
}

.project-dec p {
  text-align: justify;
}

.project-image {
  margin-left: 20px;
}

.project-image img {
  border-radius: 10px;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-carousel .slick-next {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 14px;
  transform: translateY(-50%);
  color: var(--text-second-color);
  opacity: 1.4;
  background: transparent;
  padding: 14px;
  line-height: 0;
  border: 12px;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.3s;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-carousel .slick-prev {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 14px;
  transform: translateY(-50%);
  color: var(--text-second-color);
  opacity: 1.4;
  background: transparent;
  padding: 14px;
  margin: 0px auto;
  line-height: 0;
  border: 12px;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.3s;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-carousel
  .slick-dots
  li.slick-active
  button {
  background: var(--text-second-color);
  color: var(--third-color);
  opacity: 1;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-carousel .slick-dots li button {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: var(--text-second-color);
  border: 0;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s;
}

/* for contact me style */

.contact-container {
  width: 100%;
}

.back-card {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  border: none;
  animation: title 2s ease-in;
}

.contact-info-card {
  margin-left: -20%;
  background-color: var(--third-color);
  width: 90%;
  height: 50%;
  box-shadow: 6px 0 6px 0 rgba(130, 123, 94, 0.37),
    6px 10px 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
  animation: title 2.5s ease-in;
}

.google-map-location h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.map-location {
  margin-top: -10px;
}

.contact-info h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.contact-sm-link {
  background-color: var(--sm-background-color);
  width: 114%;
  height: 152%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin-right: 30px;
  margin-left: -24px;
  margin-bottom: -15px;
  border-radius: 2px;
}

.contact-address {
  display: block;
  margin-top: -20px;
}

.contact-address-item {
  margin-left: 20px;
}

.contact-address .contact-icon {
  margin-right: 8px;
}

.contact-address-item p {
  color: #000;
}

.contact-message h2,
.contact-message p {
  color: var(--text-second-color);
  text-align: center;
}

.contact-inputs {
  text-align: center;
}

.contact-fields {
  margin-left: -80px;
}

.input-label {
  color: var(--text-second-color);
  margin-right: 100%;
}

.contactsubmit {
  background-image: linear-gradient(to right, #000, #000);
  color: var(--third-color);
  width: 40%;
}

.contactsubmit:hover {
  background-image: linear-gradient(
    to right,
    var(--third-color),
    var(--third-color)
  );
  color: #000;
}

.contact-form {
  animation: biocard 2s ease-in;
}

.contact-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  animation: slideIn 2.5s ease-in;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: var(--text-second-color);
  padding: 4px 0 5px;
  border: none;
  box-sizing: content-box;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  border-radius: 43px;
  background: #8483833a;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: var(--text-second-color);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 43px;
  background: #8483833a;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: var(--text-second-color);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 0 5px;
  position: relative;
  border-radius: 4px;
  padding: 16.5px 14px;
  background: #8483833a;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: var(--text-second-color);
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: #fff;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: #fff;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: #fff;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}

.inputField {
  width: 150%;
  margin-top: 20px;
  background-color: #8483833a;
  border: none;
  border-radius: 5px;
  padding: 15px 15px;
  color: var(--text-second-color);
}

.back-btn {
  margin-left: 100px;
  margin-top: 30px;
}

.contact-btn {
  margin: 0px auto;
  margin-top: 10px;
  width: 100%;
}

.contact-btn button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.error {
  color: rgb(236, 11, 11);
  margin-left: 30%;
  margin-right: -100%;
  margin-top: 5px;
  font-size: 12px;
}
